<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.maciekBro.cardatabase">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.maciekBro.cardatabase.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.maciekBro.cardatabase.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.maciekBro.cardatabase.add.AddNewCarActivity" />
        <activity android:name="com.example.maciekBro.cardatabase.listing.ListingActivity"></activity>

        <provider
            android:authorities="com.example.maciekBro.cardatabase"
            android:name=".NewMotoContentProvider"
            android:exported="true"
            android:label="@string/app_name"/>
        <!--android:exported="true" czy chcemy udostepnic-->

    </application>

</manifest>